body {
    font-family: 'Work Sans', 'Helvetica Neue', 'Helvetica', 'Segoe UI', 'Verdana', sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1.6;
    color: #555;
    background: #fff;
    box-sizing: border-box;
}

/* Styling for form objects in app */
input[type=checkbox] {
    display: none;
}

input[type="checkbox"] + label {
    display:inline-block;
    width:1.5em;
    height:1.5em;
    margin:0.25em 0.25em 0em 0.25em;
    vertical-align:bottom;
    border: 1px solid #888;
    box-shadow: 0px 0px 1px #888;
    border-radius: 0.25em;
    cursor:pointer;
}

input[type="checkbox"]:checked + label {
    background:url(/images/check.svg);
    background-color: #4A90E2;
}

input[type=text], input[type=password], input[type=url], input[type=email], input[type=file], input[type=number] {
    display: block;
    font-size: 1em;
    padding: 0.5em;
    margin: 0.125em;
    border-radius: 0.25em;
    min-width: 16em;
}

textarea {
	width: 100%;
    min-width: 16em;
	height: 6em;
	border: 2px solid #cccccc;
	padding: 0.5em;
	font-family: 'Work Sans', 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Segoe UI', 'Verdana', sans-serif;
    font-size: 0.875em;
}

option {
    display: block;
    border: 0;
    font-size: 1.25em;
    margin: 0.25em;
    padding: 0.1em;
}

select {
    margin: 0em;
    padding: 0.25em;
}

header select {
    margin: 0.5em;
    margin-left:1em; 
}

button, input[type=submit] {
    display: block;
    cursor: pointer;
}

fieldset {
    border: none;
    padding: 0.25em;;
    margin: 0;
}

button, input[type=submit] {
    background: #4A90E2;
    color: #fff;
    font-size: 1em;
    padding: 0.5em;
    margin: 0.25em;
    border: none;
    border-radius: 0.25em;
    -webkit-appearance: none;
}
/* End of form element styling */

/* Styling for notification bar */
.toast {
    background: rgba(120, 120, 120, 0.75);
    color: #fff;
    width: 20em;
    margin: auto;
    text-align: center;
    border-radius: 0.25em;
    box-shadow: 1px 1px 2px #888;
    position: absolute;
    top: 3.75em;
    left: 20%;
}

.toast button {
    display: inline;
    border: none;
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    color: #6CB2F6;
    background: none;
    text-decoration: underline;
}
/* End of notification styling */

/*Styling for login/register sections*/
section.login {
    font-size: 0.75em;
    float: right;
}

section.login a, section.login a:active, section.login a:focus, section.login a:hover, section.login a.selected {
    color: #4A90E2;
    text-decoration: none;
}

.loginForm a, .loginForm a:active, .loginForm a:focus, .loginForm a:hover, .loginForm a.selected {
    color: #4A90E2;
    text-decoration: none;
    display: block;
    float: right;
    font-size: 0.6em;
}

.loginForm {
    width: 25em;
    margin: auto;
}

.loginForm h3 {
    text-align: center;
    margin-bottom: 0.5em;
}

.loginForm input {
    width: 100%;
}

.loginForm input[type=submit] {
    float: right;
    width: auto;
    margin-right: 0;
}

.alert {
    color: #E55346;
}

.registered {
    padding: 1em;
    width: 25em;
    margin: 0 auto;
}

/*End of login styling

/* Nav styling for buttons on left */
nav {
    float: left;
    width: 10em;
    overflow: hidden;
    height:100%;
    background: #4A90E2;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    line-height: 3;
}

nav img {
    display: inline-block;
    padding: 0.5em;
    max-width: 2em;
}

nav a {
    display: block;
    text-decoration: none;
}

nav a span {
    font-size: 1.125em;
    display: inline-block;
    vertical-align: top;
    color: #fff;
}

nav a:active, nav a:focus, nav a:hover, a.selected {
    background: rgba(220,220,220, 0.5);
    border-radius: 0em 0em 2em 0em;
}

nav a, nav a:active {
    outline: none;
}
/* End of nav styling */

/* High level styles for across app */
main {
    margin-left: 10em;
}

h1 {
    font-size: 1.5em;
    line-height: 1.8;
    padding: 0.2em 0.2em 0.1em 0.2em;
    margin: 0em;
    box-shadow: 1px 1px 2px #4A90E2;
    overflow: hidden;
}

h1 img {
    width: 1.75em;
    float: left;
    margin-right: 0.5em;
}

h2 {
    font-size: 1.5em;
    padding: 0.25em;
    margin: 0;
}

h3 {
    font-size: 1.25em;
    padding: 0em 0.25em;
    margin: 0;
}
/* End of high level styles */

/* Styles for viewing task list and individual tasks */
a.back {
    color: #4A90E2;
    text-decoration: none;
}

.task-header {
    overflow: hidden;
    width: 55%;
}

button.add, img.add {
    border: none;
    color: #333;
    background: none;
    margin: 0;
    padding: 0;
    font-size: 2em;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

button.remove, img.remove {
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

h3 button.add, h3 img.add {
    display: inline-block;
    margin-left: 1em;
    line-height: 1;
}

img.add {
    height: 0.6em;
    cursor: pointer;
    outline: none;
}

img.remove {
    height: 0.65em;
}

.task-header button {
    float:right;
    margin-right: 0.25em;
}

.task-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 55%;
    height: 95%;
    overflow: auto;
    float:left;
}

.task-item {
    font-size: 1em;
    padding: 0.5em 0.25em 0.5em 0.25em;
    margin: 0.75em;
    box-shadow: 1px 1px 2px #888;
    border-radius: 0.25em;
    background: #fff;
    overflow: auto;
}

.task-item a {
    color: #333;
    text-decoration: none;
}

.task-item label {
    cursor: pointer;
}

.status-indicator, .overdue, .stopwatch {
    float: right;
    max-width: 1.5em;
    margin: 0.5em;
}

.status-indicator {
    width: 1.25em;
    height: 1.25em;
    border-radius: 0.625em;
    margin-top: 0.85em; 
}

.status-indicator.Open {
    background: #E55346;
}

.status-indicator.Progress {
    background: #F8E71C;
}

.status-indicator.Hold {
    background: #666;
}

.status-indicator.Complete {
    display: none;
}

.overdue {
    font-size: 2em;
    line-height: 0.4;
    color: #E55346;
}

.editButton {
    cursor: pointer;
    width: 1em;
    margin-left: 1em;
}

.stopwatchButton {
    cursor: pointer;
    width: 1em;
    margin-left: 1em;
}

.description {
    padding: 0em 0.5em;
    font-size: 0.875em;
}

.comment-thread {
    height: 50%;
    overflow: auto;
    padding: 0em 0.5em;
}

.comment-thread div {
    margin: 0.5em 2em 1em 0em;
    font-size: 0.875em;
    padding: 0.5em;
    background: #6CB2F6;
    color: #fff;
    border-radius: 0.25em;
    box-shadow: 1px 1px 2px #888;
    overflow: auto;
}

span.timestamp {
    color: #ccc;
    display: block;
    float:right;
    font-size: 0.75em;
    padding: 0.1em;
    margin: 0em 0em 1em 1em;
}

.comment-form input[type=submit] {
    float:right;
}

.comment-form textarea {
    width: 100%;
}

.task-view, .task-edit {
    display: inline-block;
    vertical-align:top;
    margin-right: 2em;
    max-width: 50%;
    min-width: 40%;
}

.task-view ul {
    padding-left: 1em;
}

.task-view input {
    display: block;
}

.task-edit * {
    display: block;
}

.task-edit input {
    width: 100%;
}

.task-edit input[type=submit], .task-edit button {
    margin-top: 1em;
    float: right;
}

.task-edit button.delete {
    margin-right: 1.5em;
}

.task-edit input[type=submit] {
    width: auto;
}

button.cancel {
    color: #333;
    background: #BBB;
}

button.delete {
    color: #fff;
    background: #E55346;
}

button.complete, button.incomplete {
    display: inline-block;
    font-size: 0.75em;
    margin-left: 1em;
}

button.complete {
    color: #333;
    background: #BBB;
}

button.incomplete {
    color: #fff;
    background: #4A90E2;
}

.task-edit textarea {
    width: 100%;
}

label.date-label {
    font-family: 'Work Sans', 'Source Sans Pro', 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Segoe UI', 'Verdana', sans-serif;
    font-size: 1rem;
}

.links button {
    background: none;
    color: #E55346;
    float: right;
    font-size: 1em;
    margin-right: 3em;
}

h2 .toggle {
    width: 3em;
    height: 3em;
}
/* End of task styles */

/* Project view styles */
section.projectView fieldset {
    margin: 0;
    max-width: 30%;
    display: inline-block;
    vertical-align: top;
}

.projectView button, .projectView input[type="submit"] {
    display: inline-block;
}

.project-header {
    overflow: hidden;
    width: 50%;
}

.project-header h2 {
    display: inline-block;
    margin-left: 0.5em;
}

.project-header button {
    display: inline-block;
    margin-left: 0.25em;
}


.projectTile {
    padding: 0.5em;
    margin: 1em;
    border-radius: 0.25em;
    box-shadow: 1px 1px 2px #888;
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

.projectTile * {
    display: inline-block;
    vertical-align: top;
}

.projectTile h3 {
    margin-bottom: 1em;
    float: left;
    clear: left;
}

.projectTile .description {
    float: left;
    clear: left;
    max-width: 70%;
}

.projectTile .dueDate {
    font-size: 0.75em;
    margin-top: 1em;
    float: right;
    clear: right;
}

.projectTile .project-stats {
    font-size: 0.75em;
    float: right;
    clear: right;
}

.owner {
    font-size: 0.5em;
    padding-left: 2em;
    vertical-align: baseline;
}

.projectTile a, .projectTile a:active, .projectTile a:focus, .projectTile a:hover, .projectTile a.selected {
    color: #4A90E2;
    text-decoration: none;
}

.swimlane {
    float:left;
    vertical-align: top;
    width: 33.3333%;
    height: 60%;
    overflow: auto;
}

.swimlane ul {
    list-style-type: none;
    min-height: 50%;
    padding: 0;
    margin: 0;
}

.swimlane h3 {
    text-align: center;
    color: #fff;
    background: #4A90E2;
    padding: 0.25em 0em;
}

.swimlane h3.open {
    background: #E55346;
}

.swimlane h3.progress {
    background: #F8E71C;
}

.swimlane h3.complete {
    background: #4A90E2;
}

.swimlane h3.hold {
    background: #666;
}

.swimlane .hold .task-item {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}

.swimlane .add {
    color: #fff;
    float: right;
    margin: 0;
    margin-top: -0.2em;
    margin-right: 0.25em;
    line-height: 1;
}

.swimlane.hold {
    width:100%;
    height: 30%;
}

.swimlane.complete {
    float: right;
}
/* End of Project styles */

/* User Styles */
.user-page ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 55%;
    height: 100%;
    float: left;
}

input[type="radio"] {
    display:none;
}

.user-item {
    font-size: 1.125em;
    padding: 0.25em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    margin: 0.75em;
    box-shadow: 1px 1px 2px #888;
    border-radius: 0.25em;
    background: #fff;
    cursor: pointer;
}

.user-item.selected {
    background: #4A90E2;
    color: #fff;
}

.user-info {
    width: 45%;
    float: left;
    padding-top: 1em;
    position: relative;
}

.user-info img.profile {
    width: 60%;
    border-radius: 60%;
    margin-left: 20%;
    box-shadow: 0px 0px 1px #888;
}

.user-info .editButton {
    position: absolute;
    width: 2em;
    top: 1em;
    right: 1em;
}

.user-info button, .user-info input[type="submit"] {
    float: left;
}

.user-info button[type="file"] {
    float: none;
    display: block;
}

.user-info h2, .user-info h3 {
    text-align: center;
}
/* End of User Styles */

/* Animation Styles */
.swimlane .task-item.ng-move,
.swimlane .task-item.ng-enter,
.swimlane .task-item.ng-leave {
  transition:all ease-in 0.2s;
}

.swimlane .task-item.ng-leave.ng-leave-active,
.swimlane .task-item.ng-move,
.swimlane .task-item.ng-enter {
  opacity:0;
  max-height:0em;
}

.swimlane .task-item.ng-leave,
.swimlane .task-item.ng-move.ng-move-active,
.swimlane .task-item.ng-enter.ng-enter-active {
  opacity:1;
  max-height:2em;
}

main.ng-leave {
    transition:all ease-in 0.2s;
}

main.ng-leave.ng-leave-active {
    opacity:0;
}

main.ng-enter.ng-enter-active {
    opacity:1;
}
/* End of Animation Styles */

/* Media Query styles for small screens < 650px */
@media (max-width: 650px) {
    /* Make nav width of screen and remove left margin of main */
    nav {
        float: none;
        width: 100%;
        overflow: hidden;
        height:auto;
        background: #4A90E2;
    }

    main {
        margin-left: 0em;
    }

    /* Adapt views & lists to appear on top of each other when screen is narrow */
    .swimlane {
        width: 100%;
        height: auto;
    }

    .projectTile {
        width: auto;
        display: block;
        overflow: auto;
    }

    .swimlane .hold .task-item {
        display: block;
        width: auto;
    }

    .task-list {
        width: 100%;
        height: auto;
        float:none;
    }

    .user-info {
        width: 100%;
        float: none;
    }

    .user-page ul {
        width: 100%;
        height: auto;
        float: none;
    }
}
/* End of Media Query styles for small screens < 650px */