body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Segoe UI', 'Verdana', sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1.6;
    box-sizing: border-box;
}

nav {
    float: left;
    width: 4em;
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav img {
    padding: 0.25em;
}

nav a {
    display: block;
}

nav a:active, nav a:focus, nav a:hover, a.selected {
    background: #4A90E2;
}

main {
    margin-left: 4em;
}

h1 {
    font-size: 1.5em;
    line-height: 1.8;
    padding: 0.2em 0.2em 0.1em 0.2em;
    margin: 0em;
    border-bottom: 1px solid #708090;
    overflow: hidden;
}

h1 img {
    width: 2em;
    float: left;
    margin-right: 0.5em;
}