body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Segoe UI', 'Verdana', sans-serif;
    padding: 0;
    margin: 0;
    line-height: 1.6;
}

h1 {
    font-size: 1.5em;
    line-height: 1.8;
    padding: 0.2em 0.2em 0.1em 0.2em;
    margin: 0em;
    border-bottom: 1px solid #708090;
    overflow: hidden;
}

h1 img {
    width: 2em;
    float: left;
    margin-right: 0.5em;
}