<section class="user-page">
    <ul>
        <li ng-repeat="user in users" class="user-item" ng-click="selectUser(user, $index)" ng-class="{'selected': selectedIndex==$index}">
            {{user.username}}
        </li>
    </ul>
    <aside ng-show="selectedUser" class="user-info">
        <img ng-show="viewMode=='view'" src="images/edit.svg" alt="edit" title="Edit" ng-click="edit()" class="editButton" />
        <div ng-switch="viewMode">
            <section ng-switch-when="view">
                <img class="profile" ng-src="{{selectedUser.profileImage}}" />
                <h2>{{selectedUser.fullname}}</h2>
                <h3>{{selectedUser.email}}</h3>
                <div class="user-stats">
                    <ul>
                        <li>{{stats.tasks.open}} Tasks</li>
                        <li>{{stats.tasks.overdue}} Overdue</li>
                        <li>{{stats.tasks.completed}} Completed</li>
                        <li>{{stats.tasks.totalEffort | number:1}} Days Total LOE</li>
                    </ul>
                </div>
            </section>
            <form ng-switch-when="edit" ng-submit="saveEdit()">
                <button type="file" name="profile" ngf-select="upload($file, $invalidFiles)" accept="image/*" ngf-max-size="1MB">Upload Profile Pic</button>
                <div ng-show="uploadComplete">{{progress}}</div>
                <label>Name<input type="text" placeholder="Name" ng-model="selectedUser.fullname"></label>
                <label>Email<input type="email" placeholder="Email" ng-model="selectedUser.email"></label>
                
                <input type="submit" value="Save">
                <button type="button" class="cancel" ng-click="cancel()">Cancel</button>
                <button type="button" class="delete" ng-click="delete()">Delete</button>
            </form>
        </div>
    </aside>
</section>