<section class="projectView">
     <div ng-switch="viewMode">
        <h2 ng-switch-when="view">
            <a href="javascript:history.back()" ng-click="saveEdit()" class="back">&lt; {{project.name}}</a>
            <img src="images/edit.svg" alt="edit" title="Edit" ng-click="edit()" class="editButton" />
            <img src="images/export.svg" alt="export" title="Export" ng-click="export()" class="exportButton" />
        </h2>
        <form ng-switch-when="edit" ng-submit="saveEdit()">
            <fieldset>
                <label>Project Name<input type="text" placeholder="Project Name" ng-model="project.name" autofocus></label>
                <label>Description<textarea placeholder="Description" ng-model="project.description"></textarea></label>
            </fieldset>
            <fieldset>
                <datepicker date-format="MMM d yyyy" selector="date-picker">
                    <label class="date-label">Due Date<input class="date-picker" placeholder="Due Date" ng-model="project.dueDate" type="text"/></label>
                </datepicker>
            </fieldset>
            <fieldset>
                <button type="button" class="cancel" ng-click="cancel()">Cancel</button>
                <input type="submit" value="Save">
                <button type="button" class="delete" ng-click="delete()">Delete</button>
            </fieldset>
        </form>
    </div>
    <div class="swimlane" ng-class="stage.class" ng-repeat="stage in stages">
        <h3 ng-class="stage.class">
            {{stage.name}}
            <button class="add" title="Add Task" ng-click="addTask(stage.name)">+</button>
        </h3>
        <ul ui-on-Drop="onDrop(stage, $data)" ng-class="stage.class">
            <li ng-repeat="task in project.tasks | filter: {status: stage.name} | orderBy:taskOrder" class="task-item" ui-draggable="true" drag="task">
                <label ng-click="editTask(task)">
                    <input id="{{task._id}}" class="toggle" type="checkbox" ng-model="task.completed" ng-change="toggleCompleted(task)">
                    <label for="{{task._id}}"></label>
                    <a ng-href="/tasks/{{task._id}}">{{task.title}}</a>
                </label>
                <div ng-show="checkOverdue(task.dueDate) && !task.completed" class="overdue" title="Overdue">!</div>
                <img ng-show="task.timeStarted && !task.completed" src="images/stopwatch-started.svg" class="stopwatch" title="Started">
            </li>
        </ul>
    </div>
</section>