<form class="loginForm" ng-submit="register()">
    <h3>Register <a href="login.html">Already registered?</a></h3>
    <div ng-show="error" class="alert">
        <span>{{error.message}}</span>
    </div>
    <fieldset>
        <label>Full Name<input type="text" class="form-control" placeholder="Full Name" ng-model="user.fullname"></label>
        <label>Email<input type="email" class="form-control" placeholder="Email" ng-model="user.email"></label>
        <label>Username<input type="text" class="form-control" placeholder="Username" ng-model="user.username"></label>
        <label>Password (At least eight numbers/letters)<input type="password" class="form-control" placeholder="Password" ng-model="user.password"></label>
        <input type="submit" value="Register">
    </fieldset>
</form>