<section>
    <header class="task-header">
        <select ng-model="selectedView" ng-change="updateView()">
            <option ng-repeat="view in views" value="{{view.value}}">{{view.title}}</option>
        </select>
        <button class="add" ng-click="addTask()">+</button>
    </header>
    <ul class="task-list">
        <li ng-repeat="task in tasks | filter:taskFilter() | orderBy:taskOrder" class="task-item">
            <label ng-click="editTask(task)">
                <input class="toggle" type="checkbox" ng-model="task.completed" ng-change="toggleCompleted(task)">
                <a ng-href="tasks/{{task._id}}">{{task.title}}</a>
                <div ng-show="!task.completed" class="status-indicator {{task.status}}" title="{{task.status}}"></div>
                <div ng-show="checkOverdue(task.dueDate) && !task.completed" class="overdue" title="Overdue">!</div>
                <img ng-show="task.timeStarted && !task.completed" src="images/stopwatch-started.svg" class="stopwatch" title="Started">
            </label>
        </li>
    </ul>
    <aside class="user-info">
        <img class="profile" ng-src="{{user.profileImage}}" />
        <h2>{{user.fullname}}</h2>
        <h3>{{user.email}}</h3>
        <div class="user-stats">
            <ul>
                <li>{{stats.tasks.open}} Tasks</li>
                <li>{{stats.tasks.overdue}} Overdue</li>
                <li>{{stats.tasks.completed}} Completed</li>
                <li>{{stats.tasks.totalEffort | number:1}} Days Total LOE</li>
            </ul>
        </div>
    </aside>
    <div ng-show="popup.show" class="toast" ng-mouseenter="cancelToastHide()">
        {{popup.text}}
        <button ng-click="undo()">Undo</button>
    </div>
</section>