<section>
    <header class="task-header">
        <select ng-model="selectedView" ng-change="updateView()">
            <option ng-repeat="view in views" value="{{view.title}}">{{view.title}}</option>
        </select>
        <button class="add" ng-click="addTask()">+</button>
    </header>
    <ul class="task-list">
        <li ng-repeat="task in tasks | filter:{completed:false}" class="task-item">
            <input class="toggle" type="checkbox" ng-model="task.completed" ng-change="toggleCompleted(task)">
            <label ng-click="editTask(task)">{{task.title}}</label>
        </li>
    </ul>
</section>