<section>
    <h2>
        <a href="javascript:history.back()" ng-click="saveEdit()" class="back">&lt; {{task.title}}</a>
        <input id="{{task._id}}" class="toggle" type="checkbox" title="Complete Task" ng-model="task.completed" ng-change="toggleCompleted()">
        <label for="{{task._id}}"></label>
        <img ng-show="viewMode=='view'" src="images/edit.svg" title="Edit" alt="edit" ng-click="edit()" class="editButton" />
        <img ng-show="viewMode=='view'" title="Start Task" ng-src="{{task.timeStarted && 'images/stopwatch-started.svg' || 'images/stopwatch.svg'}}" class="stopwatchButton" ng-click="startTask()" />
    </h2>
    <div ng-switch="viewMode">
        <section ng-switch-when="view">
            <div class="task-view">
                <h3>{{task.title}}</h3>
                <div class="description">{{task.description}}</div>
                <div class="comment-thread">
                    <div ng-repeat="comment in task.comments">
                        <span marked="comment.body"></span>
                        <span class="timestamp" am-time-ago="comment.dateCreated"></span>
                    </div>
                </div>
                <form ng-submit="addComment()" class ="comment-form">
                    <textarea placeholder="Comment" ng-model="$parent.commentBody"></textarea>
                    <input type="submit" value="Comment">
                </form>
            </div>
            <div class="task-view">
                <h3>Task Info</h3>
                <ul class="task-info">
                    <li>Type: {{task.type}}</li>
                    <li ng-show="task.project">Project: <a ng-href="/projects/{{task.project._id}}">{{task.project.name}}</a></li>
                    <li>Assigned to: {{task.assignee}}</li>
                    <li>LOE: {{task.loe}}</li>
                    <li>Started: <span am-time-ago="task.timeStarted"></span></li>
                    <li>Date created: {{task.dateCreated | amDateFormat:'MMM Do YYYY'}}</li>
                    <li>Due Date: {{task.dueDate | amDateFormat:'MMM Do YYYY'}}</li>
                    <li>Priority: {{task.priority}}</li>
                    <li>Difficulty: {{task.difficulty}}</li>
                    <li>Status: {{task.status}}</li>
                    <li ng-show="task.dependency">Dependency: <a ng-href="/tasks/{{task.dependency._id}}">{{task.dependency.title}}</a></li>
                </ul>
                <h3>
                    Links 
                    <img src="images/plus.svg" title="Add Link" class="add" ng-click="addLink()" ng-class="{remove:addingLink}">
                </h3>
                <input type="text" ng-show="addingLink" placeholder="Name" ng-keydown="checkLink($event)" ng-model="link.title">
                <input type="url" ng-show="addingLink" placeholder="URL" ng-keydown="checkLink($event)" ng-model="link.url">
                <ul class="links">
                    <li ng-repeat="link in task.links" ng-mouseenter="hover=true" ng-mouseleave="hover=false">
                        <a ng-href="{{link.link}}" target="_blank">{{link.title}}</a>
                        <button type="button" class="delete" ng-show="hover" ng-click="deleteLink(link)">X</button>
                    </li>
                </ul>
            </div>
        </section>
        <form ng-switch-when="edit" ng-submit="saveEdit()">
            <fieldset class="task-edit">
                <label>Task Name<input type="text" ng-model="task.title" autofocus></label>
                <label>Description<textarea placeholder="Description" ng-model="task.description"></textarea></label>
                <input type="submit" value="Save">
                <button type="button" class="cancel" ng-click="cancel()">Cancel</button>
                <button type="button" class="delete" ng-click="delete()">Delete</button>
            </fieldset>
            <fieldset class="task-edit">
                <label>Type
                    <select ng-model="task.type">
                        <option ng-repeat="type in types" value="{{type}}">{{type}}</option>
                    </select>
                </label>
                <label>Project
                    <select ng-model="task.project._id">
                        <option ng-repeat="project in projects" value="{{project._id}}">{{project.name}}</option>
                    </select>
                </label>
                <label>Assign to
                    <select ng-model="task.assignee">
                        <option ng-repeat="user in users" value="{{user.username}}">{{user.username}}</option>
                    </select>
                </label>
                <label>LOE (Level of Effort in Days)<input type="number" step="0.1" min="0.1" placeholder="LOE" ng-model="task.loe"></label>
                <datepicker date-format="MMM d yyyy" selector="date-picker">
                    <label class="date-label">Due Date<input class="date-picker" placeholder="Due Date" ng-model="task.dueDate" type="text"/></label>
                </datepicker>
                <label>Priority
                    <select ng-model="task.priority">
                        <option ng-repeat="priority in priorities" value="{{priority}}">{{priority}}</option>
                    </select>
                </label>
                <label>Difficulty
                    <select ng-model="task.difficulty">
                        <option ng-repeat="difficulty in difficulties" value="{{difficulty}}">{{difficulty}}</option>
                    </select>
                </label>
                <label>Status
                    <select ng-model="task.status">
                        <option ng-repeat="status in statuses" value="{{status.name}}">{{status.name}}</option>
                    </select>
                </label>
                <label>Dependency
                    <select ng-model="task.dependency">
                        <option ng-repeat="taskDep in tasks | orderBy: 'title'" value="{{taskDep._id}}">{{taskDep.title}}</option>
                    </select>
                </label>
            </fieldset>
        </form>
    </div>
</section>

<!--div>Edit Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div-->